<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.superhealthyapp">


    <uses-sdk android:targetSdkVersion="26"/>

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="true"/>


    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" android:maxSdkVersion="26"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>



    <application
        android:allowBackup="true"
        android:icon="@drawable/superhealthy"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="label"
        android:name="com.example.superhealthyapp.activities.App">


        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.superhealthyapp.activities.MainActivity" />
        <activity android:name="com.example.superhealthyapp.activities.BMIResultsActivity" />
        <activity android:name="com.example.superhealthyapp.managers.AlertManager"  />
        <activity android:name="com.example.superhealthyapp.activities.BaseActivity" />
        <activity android:name="com.example.superhealthyapp.activities.WelcomeActivity"/>

        <receiver android:name="com.example.superhealthyapp.managers.NotificationReceiverManager" />
        <receiver android:name="com.example.superhealthyapp.managers.AlertReceiverManager" />


        <service
            android:name=".fragments.Pedometer.SensorListener"/>

        <service
            android:name=".fragments.Pedometer.WidgetUpdateService"
            android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
            <intent-filter>
                <action android:name="com.google.android.apps.dashclock.Extension"/>
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="2"/>
            <meta-data
                android:name="worldReadable"
                android:value="true"/>
            <meta-data
                android:name="description"
                android:value="Displays the steps taken today"/>
        </service>

    </application>
</manifest>
